* {
    box-sizing: border-box;
}
.eni-1 {width: 8.33%;}
.eni-2 {width: 16.66%;}
.eni-3 {width: 25%;}
.eni-4 {width: 33.33%;}
.eni-5 {width: 41.66%;}
.eni-6 {width: 50%;}
.eni-7 {width: 58.33%;}
.eni-8 {width: 66.66%;}
.eni-9 {width: 75%;}
.eni-10 {width: 83.33%;}
.eni-11 {width: 91.66%;}
.eni-12 {width: 100%;}