body{
    margin: 0;
    padding: 0;
}
section{
    height: 100vh;
    background-color: black;
}
section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left,#f00,#ff0,#0f0,#ff0,#0ff,#00f);
    mix-blend-mode: color;
}
@media screen and (min-width: 700px) {
h1{
    position: absolute;
    color: white;
    top: 35%;
    font-size: 7vw;
    transform: translateY(-40%);
    text-align: center;
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
    
}
.footer a {
    text-decoration: none;
    color: white;
    
}

}
@media screen and (max-width: 700px) {
    h1{
        position: absolute;
        color: white;
        top: 40%;
        font-size: 7vw;
        transform: translateY(-40%);
        text-align: center;
        width: 100%;
    }
    video {
        width: 100%;
    }
    .footer {
        position: absolute;
        bottom: 0;
        color: white;
        text-align: center;
        width: 100%;
        font-size: 3.5vw;
    }
    .footer a {
        text-decoration: none;
        color: white;
        font-size: 3.5vw;
    }
    
}
h1 span {
    display: inline-block;
    animation: eid 1s linear forwards;
    animation-delay: 4s;
    opacity: 0;
}
@keyframes eid {
    0% {
        transform: rotateY(90deg);
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg);
        filter: blur(0px);
        opacity: 1;
    }
}
video {
    width: 100%;
    height: 95vh;
}
h1 span:nth-child(1) {
    animation-delay: 1s;
}
h1 span:nth-child(2) {
    animation-delay: 1s;
}
h1 span:nth-child(3) {
    animation-delay: 1.25s;
}
h1 span:nth-child(4) {
    animation-delay: 1.5s;
}
h1 span:nth-child(5) {
    animation-delay: 1.75s;
}
h1 span:nth-child(6) {
    animation-delay: 2s;
}
h1 span:nth-child(7) {
    animation-delay: 2.25s;
}
h1 span:nth-child(8) {
    animation-delay: 2.5s;
}
h1 span:nth-child(9) {
    animation-delay: 2.75s;
}
h1 span:nth-child(10) {
    animation-delay: 3.25s;
}
h1 span:nth-child(11) {
    animation-delay: 3.5s;
}
