* {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: hidden;
}
li {
    display: block;
}
.a a {
    float: right;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}
.a a:hover {
    color: yellow;
    text-decoration: underline;
}
li:nth-child(1) {
    margin-right: 100px;
}
.u a {
    float: left;
    font-size: 1.65em;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 15px;
    margin-left: 100px;
}
