* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(../image/lights.jpg);
    background-size: 100% 100%;
    border-bottom-left-radius: 50% 40px;
    border-bottom-right-radius: 50% 40px;
    background-repeat: no-repeat;
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
}
li {
    display: block;
}
li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    float: right;
    padding: 30px 15px 30px 15px;
    color: white;
}
li:nth-child(1) {
    margin-right: 60px;
}
.active {
    padding-bottom: 30px;
    border-bottom: 2px solid white;
}
.nom a{
    padding: 15px 70px;
    text-decoration: none;
    color: white;
    position: absolute;
    float: left;
    font-size: 2.5em;
    font-weight: 500;
}
.text {
    color: white;
    width:100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text0 {
    width: 62%;
    text-align: center;
}
.text1 {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}
.get a,.more a {
    text-decoration: none;
    color: white;
}
.get,.more {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: small;
}
.get {
    background-color: rgb(0, 238, 255);
    margin-right: 15px;
}
.more {
    background-color: rgb(0, 255, 0);
}
.res {
    width: 100%;
    display: flex;
    margin-top: -40px;
    text-align: center;
    justify-content: center;
}
.table {
    position: relative;
    background-color: white;
    /*height: 35vh;*/
    width: 250px;
    border: 1px solid grey;
    float: left;
    padding: 30px;
}
.shakl {
    position: relative;
    left: 28.5%;
    right: 28.5%;
    color: white;
    width: 43.9%;
    font-size: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.chaqmoq {
    background-color: rgb(0, 140, 255);
}
.bulut {
    background-color: lightgreen;
}
.tel {
    background-color: rgb(255, 174, 0);
}
.yulduz {
    background-color: rgb(228, 3, 228);
}
.table p {
    font-weight: bold;
    font-size: small;
}
span {
    font-size: small;
}
.button {
    padding: 10px;
    border-radius: 5px;
}
.button a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}