*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    position: static;
    border: 2px solid rgb(30, 120, 255);
    outline-style: solid;
    outline-color: rgb(141, 141, 255);
    outline-width: 3px;
    margin: 5px;
    text-align: center;
    color: rgb(248, 41, 41);
    opacity: 0.9;
    background-color: chartreuse;
    border-radius: 16px;
    padding: 5px;
    margin-top: 51px;
}
body{
    color: white;
    background-color: rgb(39, 35, 35);
    margin: 0;
}
/*salom*/
button{
    color: black;
    border-radius: 16px;
    padding: 6px;
}
h4{
    margin-left: 20px;
    border-left: 6px solid red;
    background-color: rgb(138, 138, 138);
    padding-left: 5px;
    padding: 8px;
}
h4,i,u,sub,sup{
    color: springgreen;
}
.rasm{
    background-image: url('../image/koprasm.jpg');
    width: 100%;
    height: 370px;
    background-repeat: repeat-y;
    background-position: center;
    text-align: center;
    padding-top: 10px;
    background-attachment: scroll;
}
a{
    text-shadow: 2px 2px 5px red;
    
    text-decoration: none;
    font-style: italic;
    color: white;
    margin: 5px;
}
a:hover{
    background-color: rgb(102, 102, 102);
}

.table{
    border-collapse: collapse;}

.table tr:nth-child(even){
    background-color: rgb(170, 169, 169);
    color: black;
}
.table th:hover,.table td:hover{
    background-color: rgb(77, 77, 77);
}
.table1{
    
    border: 2px solid red;
}

.table1 tr:nth-child(even){
    background-color: rgb(255, 95, 247);
    color: black;
}
.table1 th:hover,.table1 td:hover{
    background-color: chartreuse;
    box-shadow: 2px 2px 2px rgb(162, 255, 69);

}
.menyu{
    list-style-type: none; 
    margin: 0px;
    padding: 0px; 
    overflow: hidden;
    background-color: blue;
    position: -webkit-sticky;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.menyu .li a,.menyu .li2 a{
    float: right;
    padding: 18px;
    padding-right: 25px;
    margin: 0px;
    font-size: 1.2em;
}
.menyu li a:hover{
    background-color: rgb(81, 81, 255);
}
.li2{
    margin-right: 60px;
}
/*.menyu li a:link{
    background-color: blue;
}*/
.menyu li a:active{
    background-color: black;
}
.soz{
    /*kecha kunduz oq kema ufq*/
    overflow: scroll;
    width: 100%;
    height: 100px;
    overflow-x: hidden;
}
input[type="text"]:focus{
    background-color: rgb(0, 255, 34);
    color: black;
    padding: 8px;
    width: 100%;
}
textarea:focus{
    background-color: black;
    color: white;
    padding: 5px;
}
input[list="ro"]:focus{
    padding: 10px;
}
input[type="number"]:focus{
    padding: 5px;
    background-color: rgb(0, 238, 255);
}
input[type="range"]{
    background-color:chartreuse;
}
input[type="password"]:focus{
    padding: 8px;
    background-color: dimgray;
    color: red;
}
input[type="checkbox"]:focus{
    background-color: seagreen;
}
input[type="email"]:focus{
    width: 100%;
    padding: 8px;
    background-color: yellow;
    color: rgb(17, 0, 255);
}
input[type="search"]{
    background-image: url('../image/search.jpg');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 10px;
    padding-left: 40px;}
input[type="search"],input[type="text"]{
    transition: width 0.5s ease-in-out;
}
input[type="search"]:focus{
    width: 100%;
}
input[type="url"]:focus{
    padding: 8px;
    width: 100%;
}
input[type="submit"],input[type="reset"]{
    border-radius: 16px;
    padding: 8px;
    background-color: rgb(0, 238, 255);
    color: rgb(255, 0, 0);
}
.m{
    margin-left: 20px;
}
figure img{
    box-shadow: 0px 8px 16px 10px rgba(122, 122, 122, 0.726);
}
.fieldset{
    display:flex;
    align-items:center;
    justify-content:center;
}
.tabl{
    display:flex;
    align-items:center;
    justify-content:center;
}

@media only screen and (max-width:750px){
    .tabl{
        flex-wrap: wrap;
        width: 100%;
    }
    table{
        margin-top: 5px;
        width: 100%;
    }
    .table,.table1{
        width: 100%;
    }
    .r1,.r2{
        display: none;
    }
    .video{
        flex-wrap: wrap;
    }
    iframe{
        width: 100%;
    }
    .li,.li2{
        display: none;
    }  
    .li1{
        margin-left: 20px;
    } 
    .table1{
        border-spacing: 3px;
    }
    .table1 th,.table1 td{
        padding: 5px;
        border: 3px solid springgreen;
        
    }
    .table th,.table td{
        height: 50px;
        padding-left: 5px;
        padding-right: 5px;
        border: 3px solid cyan;
    }
}
.r1{
    float: left;
    margin: 16px;
    margin-top: 60px;
    box-shadow: 0px 8px 16px 10px rgba(122, 122, 122, 0.726);
    width: 33.3333%;
}
.r2{
    float: right;
    margin: 16px;
    margin-top: 60px;
    box-shadow: 0px 8px 16px 10px rgba(122, 122, 122, 0.726);
    width: 33.3333%;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    border: 5px solid rgb(250, 225, 0);
    box-shadow: 0px 8px 16px 10px rgba(250,225,0,0.4);
    margin: 16px;
}
@media only screen and (min-width:750px){
    .video1{ margin-left: 100px;}
    .ch{display: none;}
    #yashirin{
        display: none;
    }
    .li1{
        margin-left: 60px;
    }
    table{
        margin-left: 60px;
    }
    .table1{
        border-spacing: 8px;
    }
    .table1 th,.table1 td{
        padding: 15px;
        border: 5px solid springgreen;
        
    }
    .table th,.table td{
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        border: 3px solid cyan;
    }
}
.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;}
audio{
    border-radius: 28px;
    box-shadow: 0px 8px 16px 10px rgba(122, 122, 122, 0.726);
}
.iframe{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 16px;
    
}
iframe{
    border: 5px solid rgb(21, 255, 0);
    box-shadow: 0px 8px 16px 10px rgba(21, 255, 0,0.4);
}
.li1{
    float: left;
    font-size: 1.4em;
    
    padding: 14px;
}
li.li1 a:hover{
    background-color: blue;
}
.ch{
    
    list-style-type: none;
    float: right;
    border: 2px solid white;
    padding: 3px 7px 7px 7px;
}
.ch li{
    border-bottom: 2px solid white;
    width: 20px;
    height: 6px;
    margin: 0;
}
#menyu{
    float: right;
    margin: 10px;
    margin-right: 20px;
    padding: 0;
    width: 38px;
    text-align: center;
    height: 35px;
    border: 0px;
    background-color: blue;
    border-radius: 0px;
    outline: 0px;
    outline-color: blue;
}
#yashirin{
    position: fixed;
    top: 51px;
    width: 100%;
    background-color: blue;
    z-index: 1;
}
#yashirin a{
    display: block;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 1.1em;
}
#yashirin a:hover{
    background-color: rgb(81, 81, 255);
}
#yashirin1{
    display: none;
}
footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    font-weight: 900;
    background-color: rgb(150, 150, 150);
}
footer a:hover {
    background-color: rgb(150, 150, 150);
}
.loader {
    z-index: 9999;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fd6802;
    display: flex;
}
.load {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
}
.loadrect1 {
    position: absolute;
    left: 70px;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    animation-name: animaterect1;
    animation-delay: 1.9s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.loadrect2 {
    position: absolute;
    left: 85px;
    bottom: 0;
    width: 10px;
    height: 20px;
    background-color: white;
    animation-name: animaterect2;
    animation-delay: 1.9s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.loadrect3 {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 10px;
    height: 30px;
    background-color: white;
}
.loadrect4 {
    position: absolute;
    left: 115px;
    bottom: 0;
    width: 10px;
    height: 40px;
    background-color: white;
    animation-name: animaterect4;
    animation-delay: 1.9s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.loadrect5 {
    position: absolute;
    left: 130px;
    bottom: 0;
    width: 10px;
    height: 50px;
    background-color: white;
    animation-name: animaterect5;
    animation-delay: 1.9s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.loadball {
    position: absolute;
    left: 70px;
    bottom: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    animation: animate 2s;
    animation-fill-mode: forwards;
}
@keyframes animate {
    0% {
        transform: translate(0,0);
    }
    12.5% {
        transform: translate(7px,-20px);
    }
    25% {
        transform: translate(15px,-10px);
    }
    37.5% {
        transform: translate(22px,-30px);
    }
    50% {
        transform: translate(30px,-20px);
    }
    62.5% {
        transform: translate(37px,-40px);
    }
    75% {
        transform: translate(45px,-30px);
    }
    87.5% {
        transform: translate(52px,-50px);
    }
    100% {
        transform: translate(60px,-40px);
    }
}
@keyframes animt {
    0% {
        transform: translate(60px,0);
    }
    12.5% {
        transform: translate(53px,-20px);
    }
    25% {
        transform: translate(45px,-10px);
    }
    37.5% {
        transform: translate(38px,-30px);
    }
    50% {
        transform: translate(30px,-20px);
    }
    62.5% {
        transform: translate(23px,-40px);
    }
    75% {
        transform: translate(15px,-30px);
    }
    87.5% {
        transform: translate(7px,-50px);
    }
    100% {
        transform: translate(00px,-40px);
    }
}
@keyframes animaterect1 {
    0%{
        transform: scale(1,1);
    }
    100% {
        transform: scale(1,9);
    }
}
@keyframes animaterect2 {
    0%{
        transform: scale(1,1);
    }
    100% {
        transform: scale(1,3);
    }
}
@keyframes animaterect4 {
    0%{
        transform: scale(1,1) translate(0,0);
    }
    100% {
        transform: scale(1,0.6) translate(0,20px);
    }
}
@keyframes animaterect5 {
    0%{
        transform: scale(1,1) translate(0,0);
    }
    100% {
        transform: scale(1,0.6) translate(0,50px);
    }
}
@keyframes anim {
    0%{
        transform: translate(60px,-40px);
    }
    100% {
        transform: translate(60px,0px);
    }
}

